.navbar {
    font-family: 'Dancing Script', cursive;
}

.active{
   text-decoration: underline;
}

nav{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #6CBA59, #309118, #20680E);
    z-index: 100 ;
    top:0;
    
}

nav .logo{
    height: 5rem;
    width: 5rem;
   
}
nav .title{
    color: white;
    font-size: 3.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    /* text-align: center; */
    /* color: white; */  
}

nav span {
    font-size: 1.5rem;
    padding-left: 10px;
}

nav ul{
    display: flex;
}

nav ul li{
    font-size: 26px;
    list-style: none;
  
}

nav ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius:0.5rem;
}

nav ul li a:not(.active):hover{
    background-color: #5c81e7;
   
}

nav .menu {
    display:none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem ;
    height: 2rem;
}

nav .menu span{
    height: 0.4rem;
    width:100%;
    background-color: #1d4ed8;
    border-radius: 0.2rem;
}

.search-results-container{
    min-width: 25%;
    padding-top: .5rem;
    margin-right: .5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
 }
 
@media(max-width: 480px) {
nav .menu {
    display:flex;
}
nav{
    flex-direction: column;
    align-items: flex-start;
}

nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
}
nav ul.open {
    display: flex;
}

nav ul li {
    width: 100%;
    text-align: center;
}

nav ul li a {
    margin: 0.2rem 0.5rem;
}
}

.dropdownProfile {
    position:absolute;
    top: 4.5rem;
    left:48rem;
    width:120px ;
    padding: 15px;

    /* border-radius: 15px; */
    background-color: white;
    /* border: 1px solid gray; */
}

.dropdownProfile ul li{
    list-style-type: none;
    /* font-size: 20px; */
}

/* .dropdownProfile::before {
    content: '';
    position: absolute;
    top: -2rem;
    right: 2rem;
    width:25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
} */
