.picture{
    width:18em;
    height:16em;
    margin-left:2em;
    padding-right: 20px;
    
}

.row-results{

padding:40px;
    height:22em;
    display: flex;
    justify-content: space-between;

    background-color: rgb(215, 222, 196);
    opacity: 0.9;
    width:100%;
    /* column-gap: 10px; */
 
    
    
}

.container-resultstext{
    margin:2em;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin-left: 3em;
    margin-right: 5em;
}

.container-resultstext:hover{
    box-shadow: 0 0 20px 0 rgba(225, 111, 29, 0.2);
    /* width:93% */
 }
 .span-resulthindi{
    font-size: 1.5rem;
    font-family: cursive;
}

 .hindi-resultnames{
    padding-left: 120px;
    font-size: 1.3rem;
    text-align: center;
}

.span-resultenglish{
    font-size: 1.5rem;
    font-family: cursive;
}

 .english-resultnames{
    text-align: center;
    padding-left: 120px;
    font-size: 1.3rem;
}

.symptom{
    font-size: 1.5rem;
    font-family: cursive;
}
.symptom-name{
    font-size: 1.5rem;
}

.medical-uses{
    font-size: 1.5rem;
    font-family: cursive;
}
.description{
    font-size: 1.5rem;
    font-family: cursive;
}

/* .text-left{
    margin-left: 2em;
} */

.col-text{
    /* margin-left: 70px; */
    /* padding-left: 90px; */
    /* float:left; */
    column-gap:10px ;
    /* margin-left: 20px; */
    /* display: inline-block; */
    min-width: 120em;
    max-width:120em ;
    text-align:justify;
 
   
}